.chair {
  display: inline-block;

  width: 70px;
  height: 70px;
  box-shadow: 5px 10px 8px #888888;
  cursor: pointer;

  border: 3px solid black;
  border-radius: 9px;
}

.chair-green {
  background-color: lightgreen;
}

.chair-red {
  background-color: red;
}

.chair-content {
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.roomBG {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 800px;
  width: 1010px;
  background-image: linear-gradient(
    to bottom right,
    rgb(221, 221, 221),
    rgb(126, 126, 126)
  );
  border-radius: 5px;
  /* background-color: rgb(238, 238, 238); */

  /* border: 1px solid black; */
}

mat-form-field {
  width: 100%;
}

.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #00af1d !important;
  color: #fff !important;
}

.cdk-overlay-container {
  z-index: 20222200 !important;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px;
  height: 470px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  .imageMedia {
    height: 39vw;
  }
}