<div class="request" *ngIf="req"> 
  <div *ngFor="let chReq of req.requests; let i = index;">  
      <h2>Days requested for Office {{desks[chReq.desk_id].name}}, Chair no. {{chReq.chair_id}}:</h2>
      <mat-chip-list> 
        <mat-chip *ngFor="let day of chReq.days">  
          {{ day }} 
        </mat-chip>
      </mat-chip-list>
      <hr>
  </div>

  <button style="margin-top:10px;" class="btn btn-success" (click)="confirmRequest()">Confirm</button>
  <button style="margin-left:10px; margin-top:10px;" class="btn btn-danger" (click)="discardRequest()">Discard</button>  
</div>
<div style="text-align: center;" *ngIf="!req">
  <h2>No active requests</h2>
</div>
