<div *ngIf="req"> 
  <div *ngFor="let chReq of req.requests">  
      <h2>Days requested for Office {{desks[chReq.desk_id].name}}, Chair no. {{chReq.chair_id}}</h2>
      <mat-chip-list> 
        <mat-chip *ngFor="let day of chReq.days">  
          {{ day }} 
        </mat-chip>
      </mat-chip-list>
      <hr>
  </div>

  <button class="btn btn-success" (click)="confirmRequest()">Confirm</button>
  <button style="margin-left:10px;" class="btn btn-danger">Discard</button> 
</div>
<div *ngIf="!req">
  <h2>Please rent some desks!</h2>
</div>
