.map-container {
    position: relative;
    height: 400px; 
    width: 500px;
    margin: 30px;
    margin-left: 0px;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}

.leaflet-container{
    border-radius: 20px;
}