<h2>Create a new Desk Room</h2>

<!-- <mat-form-field>
  <mat-label>Name</mat-label> 
  <input matInput  [(ngModel)]="desk.name" type="text" placeholder="Ex. Google" #input> 
</mat-form-field> -->

<div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="desk.name" type="text" class="form-control" placeholder="Name" id="name">
</div>
<div class="form-group">
    <label for="address">Address</label>
    <input [(ngModel)]="desk.address" type="text" class="form-control" placeholder="Address" id="address">
</div>
<div class="form-group">
    <label for="address">Location (drag the marker to the desk's location)</label>
    <app-map2></app-map2> 
</div>
<div class="form-group">
    <label for="address">Images</label><br>
    <input type="file" name="image" multiple (change)="onFileChange($event)" id="image" style=" margin-bottom:10px;">

    <div class="form-group">
    <img *ngFor='let url of images' [src]="url" style="height:150px; width:200px; margin-right:3px; border: 1px solid lightgrey;">
    </div>
</div>
<div class="form-group">
    <label for="total_spaces">Total spaces</label>
    <input [(ngModel)]="desk.total_spaces" type="number" disabled="{{isDisabled}}" class="form-control" placeholder="Available spaces" id="total_spaces"> 
</div>
<div class="form-group">
  <label for="dimension">Desk dimension</label>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button style="position: relative; margin-bottom: 10px;" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{desk.dimension}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="desk.dimension = 'Small';" ngbDropdownItem>Small</button> 
          <button (click)="desk.dimension = 'Medium';" ngbDropdownItem>Medium</button>
          <button (click)="desk.dimension = 'Large';" ngbDropdownItem>Large</button>
        </div>
      </div>
    </div>
</div>
<div class="form-group">
  <label for="DeskDesign">Desk design</label>
  <p><button style="position: relative;" class="btn btn-primary" (click)="openModal(content);addChairs(); ">Customize your Desk</button></p>
</div>

<p><button style="position: relative; margin-top: 25px;"  [disabled]="!isDisabled" class="btn btn-success" (click)="addDesk()">Confirm</button></p> 


<ng-template #content let-modal>
  <div class="modal-header">
    <h2 id="modal-basic-title">Desk Design</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="container"class="container roomBG"> 
        <div style="display: inline-block;" *ngFor="let chair of desk.chairs; let i = index">
            <div 
                id="chair" 
                class="chair"
                cdkDrag 
                cdkDragBoundary=".container"
                (cdkDragEnded)="onDragEnded($event, i)"
                >
                <div class="chair-content">ID: {{chair._id}}</div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    <button type="button" class="btn btn-outline-primary" (click)=" resetChairs(); "> Reset position </button>
  </div>
</ng-template>
