.cnt {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    border: 1px solid  rgb(202, 202, 202);
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.space1 {
    padding-top: 7.4%;
}

.space2 { 
    padding-top: 2%;
}

.navStl { 
    border-bottom: 1px solid  rgb(202, 202, 202);
    border-left: 1px solid  rgb(202, 202, 202);
    border-right: 1px solid  rgb(202, 202, 202);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1200px;
    margin:    0 auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 35px;
    height: auto;
}

.bubble {
    color:white;
    background-color: red;
    border-radius: 45%;
    padding-left: 3.5px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logout {
    cursor: pointer;
    color:rgb(216, 0, 0) !important;
} 

.user { 
    color:rgb(79, 79, 150)  !important;
    /* border: 1px solid rgb(221, 221, 221);
    border-radius: 5px; */
}

.nav-link:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
} 

.ftr {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    border: 1px solid  rgb(202, 202, 202);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}