<form style="text-align:center;" [formGroup]="loginForm" (ngSubmit)="doLogin()">
  <p class="p2">Login</p>
  <br>
  <div class="alert alert-danger" *ngIf="serverError">
    Username or password invalid
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username ..." type="text" name="username">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password ..." type="password" name="password">
    </mat-form-field>
  </div>
  <button type="submit" class="btn btn-success col-2">
    <b>Login</b>
  </button>
</form>