.form-control{
    max-width: 500px;
}

.p2 {
    padding-bottom: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:rgb(29, 29, 63);
    margin-top: 30px;
}