<div *ngIf="initialRequests.length != 0"> 
  <p class="p2">Accept/Reject Requests</p>  

  <mat-form-field appearance="outline"> 
    <mat-label>Search by User</mat-label> 
    <input matInput [(ngModel)]="filterUser" (keyup)="applyFilter($event)" placeholder="Ex Steven" #input> 
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Filter by Status</mat-label> 
    <input matInput [(ngModel)]="filterStatus" (keyup)="applyFilter($event)" placeholder="Ex Waiting approval" #input> 
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Filter by Date</mat-label> 
    <input matInput [(ngModel)]="filterDate" (keyup)="applyFilter($event)" placeholder="Ex 2021-05-04" #input> 
  </mat-form-field>

  <div class="request" *ngFor="let req of rentRequests">
      <h2><u>Request no. {{req._id}}</u></h2>
      <h2>User: {{req.user.full_name}}</h2>
      <h2>Status: <b [ngStyle]="(req.status === 'Waiting approval')?{'color':'blue'}:{'color':'red'}">{{req.status}}</b></h2> 
      <h2>Date: {{req.timestamp.slice(0, 10)}}, {{req.timestamp.slice(11, 19)}}</h2>  
      <h2>Requests:</h2> 
      <div *ngFor="let chReq of req.requests; let i = index;">  
        <div *ngIf="desks[chReq.desk_id]"> 
          <ngb-accordion> 
            <ngb-panel>
              <ng-template ngbPanelTitle> 
                <div style="color:black;">Days requested for Office {{desks[chReq.desk_id].name}}, Chair no. {{chReq.chair_id + 1}}:</div>
              </ng-template>
              <ng-template ngbPanelContent>
                <mat-chip-list>  
                  <mat-chip *ngFor="let day of chReq.days">  
                    {{ day }} 
                  </mat-chip>
                </mat-chip-list>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <button style="margin-top: 20px;" class="btn btn-success" (click)="req.status='Accepted'">Accept</button> 
      <button style="margin-top: 20px; margin-left: 10px;" class="btn btn-danger" (click)="req.status='Rejected'">Reject</button>
  </div>
</div>
<div style="text-align: center;" *ngIf="rentRequests.length == 0"> 
  <h2>Couldn't find any request</h2>
</div>