<p class="p2">Welcome to Desk {{desk.name}}</p>
<button class="btn btn-danger" (click)="deleteDesk()">Delete this Desk</button>
<br><br>

<ul>
  <li>id: {{desk._id}}</li>
  <li>Name: {{desk.name}}</li>
  <li>Address: {{desk.address}}</li>
  <li>Spaces left: {{desk.available_spaces}}/{{desk.total_spaces}}</li>
</ul>
<br>
<div class="alert alert-danger" *ngIf="failedToOccupy">The dates that you entered are not available for Desk {{clickedDesk}}</div>


<div id="container" class=" roomBG container"> 
  <div style="display: inline-block;" *ngFor="let chair of desk.chairs; let i = index"> 
    <div id="{{ 'object-' + chair._id }}" [ngClass]="(chair.occupied == false)?'chair chair-green':' chair chair-red'" (click)="openModal(template, i)">
    
      <div class="chair-content">ID: {{chair._id}}</div>
      <div *ngIf="chair.requests.length == 0" class="chair-content">Free</div>
      <div *ngIf="chair.occupied" class="chair-content">Occupied</div> 
      <div *ngIf="chair.requests.length > 0 && !chair.occupied" class="chair-content">Has reservations</div>
    </div>
  </div> 
</div>

<ng-template #template> 
  <div style="padding-top: 30px;" class="modal-header"> 
    <p class="p3" >Location: {{this.desk.name}}, Desk {{clickedDesk}}</p> 
    
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <h3 *ngIf="this.desk.chairs[this.clickedDesk].requests.length > 0">This desk is occupied in the following dates: </h3>

    <!-- afisare zile alese deja ????? -->

    <!-- <h3 class="alert alert-info" *ngIf="this.desk.chairs[this.clickedDesk].requests.length > 0">Try not to intersect other dates </h3> -->

    <h4>Please insert the dates in which between you want to rent Desk {{clickedDesk}}:</h4>

    <div style=" padding-bottom: 30px;">
      <!-- <div class="col-xs-12 col-12 col-md-6 form-group"> -->
        <input class="form-control" 
        #drp="bsDaterangepicker" 
        bsDaterangepicker [(ngModel)]="bsRangeValue"
        [minDate]="today"
        [datesDisabled]="daysSelected"
        (close)="selectRange()"
        [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', isAnimated: true }"
        
          /> 
      <!-- </div> -->
      <!-- <div class="col-xs-12 col-12 col-md-5 form-group"> -->
        <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen" type="button">
          Rent between 2 dates
        </button>
      <!-- </div> -->
    </div> 
    



    <button class="btn btn-primary" [matMenuTriggerFor]="appMenu"> Rent specific days </button>
    <mat-menu #appMenu="matMenu" class="drop-calendar" >
      <div (click)="$event.stopPropagation()">
        <mat-calendar #calendar 
        (selectedChange)="select($event,calendar)"  
        [minDate]="today" 
        [dateClass]="isSelected"
        [dateFilter]="myFilter"
        ></mat-calendar>
      </div>
    </mat-menu>
    <pre>
    {{daysSelected}}
    </pre>

    <button type="button" class="btn btn-success col-6" (click)="occupyDesk();modalRef.hide();">Confirm</button>
    <button type="button" class="btn btn-danger col-6 float-right" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>


<!-- 
<mat-form-field class="modal fade show">
      <mat-chip-list #chipList aria-label="Choose a date"
        (click)="picker.open()">
        <mat-chip
          *ngFor="let value of model" 
          [selectable]="false"
          [removable]="true" 
          (removed)="remove(value)">
          {{ value | date }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input [value]="resetModel" matInput [matDatepicker]="picker" placeholder="Choose a date"
              (dateChange)="dateChanged($event)" [min]="today" [matDatepickerFilter]="myFilter"
              [matChipInputFor]="chipList" hidden />
      </mat-chip-list>
      <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [startAt]="init" [dateClass]="dateClass"></mat-datepicker>
    </mat-form-field>

 -->












