.chair {
  display: inline-block;

  width: 70px;
  height: 70px;
  box-shadow: 5px 10px 8px #888888;
  cursor: pointer;

  border: 3px solid black;
  border-radius: 20px;
}

.chair-green {
  background-color: lightgreen;
}

.chair-red {
  background-color: red;
}

.chair-content {
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.roomBG {
  position: relative; 
  margin-top: 50px; 
  margin-bottom: 50px;  
  height: 800px; 
  width: 1010px; 
  background-image: linear-gradient(to bottom right, rgb(221, 221, 221), rgb(180, 180, 180));
  /* background-color: rgb(238, 238, 238); */
  
  /* border: 1px solid black; */
}

mat-form-field {
  width: 100%;
}

.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
.mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #673ab7 !important;
  color: #fff !important;
}

.cdk-overlay-container{
  z-index:20222200 !important;
}