<p class="p2">Welcome to Desk {{desk.name}}</p>
<button class="btn btn-danger" (click)="deleteDesk()">Delete this Desk</button>
<br><br>

<ul>
  <li>id: {{desk._id}}</li>
  <li>Name: {{desk.name}}</li>
  <li>Address: {{desk.address}}</li>
  <li>Spaces left: {{desk.available_spaces}}/{{desk.total_spaces}}</li>
</ul>
<br>
<div class="alert alert-danger" *ngIf="failedToOccupy">The dates that you entered are not available for Desk {{clickedDesk}}</div>


<div id="container" class=" roomBG container"> 
  <div style="display: inline-block;" *ngFor="let chair of desk.chairs; let i = index"> 
    <div id="{{ 'object-' + chair._id }}" [ngClass]="(chair.occupied == false)?'chair chair-green':' chair chair-red'" (click)="openModal(template, i)">
    
      <div class="chair-content">ID: {{chair._id}}</div>
      <div *ngIf="chair.requests.length == 0" class="chair-content">Free</div>
      <div *ngIf="chair.occupied" class="chair-content">Occupied</div> 
      <div *ngIf="chair.requests.length > 0 && !chair.occupied" class="chair-content">Has res.</div>
    </div>
  </div> 
</div>

<ng-template #template> 
  <div style="padding-top: 30px;" class="modal-header"> 
    <p class="p3" >Location: {{this.desk.name}}, Desk {{clickedDesk}}</p> 
    
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <h3 *ngIf="this.desk.chairs[this.clickedDesk].requests.length > 0">This desk has the following reservations: </h3>

    <!-- acordion!!!! -->
    <div *ngFor="let value of this.desk.chairs[this.clickedDesk].requests">
      <mat-chip-list>
        <mat-chip *ngFor="let day of value.days"> 
          {{ day }} 
        </mat-chip>
      </mat-chip-list>
      <hr>
    </div>

    <h4>Please insert the dates in which between you want to rent Desk {{clickedDesk}}:</h4>

    <div>  
        <input class="form-control" 
        #drp="bsDaterangepicker" 
        bsDaterangepicker [(ngModel)]="bsRangeValue"
        [minDate]="today"
        [datesDisabled]="this.desk.chairs[this.clickedDesk].occupiedDays"
        [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', isAnimated: true }"
          /> 
        <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen" type="button">
          Rent between 2 dates
        </button>
    </div> 
    
    <hr>

    <h4>Please insert the specific dates when you want to rent Desk {{clickedDesk}}:</h4>

    <button style="margin-bottom: 0px" class="btn btn-primary" [matMenuTriggerFor]="appMenu"> Rent specific days </button>
    <mat-menu #appMenu="matMenu" class="drop-calendar" > 
      <div (click)="$event.stopPropagation()">
        <mat-calendar #calendar 
        (selectedChange)="select($event,calendar)"  
        [minDate]="today" 
        [dateClass]="isSelected"
        [dateFilter]="myFilter"
        ></mat-calendar>
      </div>
    </mat-menu>

    <hr> 

    <!-- <br> -->
    <button type="button" class="btn btn-success col-6" (click)="occupyDesk();modalRef.hide();">Confirm</button>
    <button type="button" class="btn btn-danger col-6 float-right" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>





