<div *ngIf="initialRequests.length != 0">
  <p class="p2">Rent History</p>

  <mat-form-field appearance="outline">
    <mat-label>Filter by Status</mat-label>
    <mat-select>
      <mat-option (click)="filterStatus = 'Waiting approval'" (click)="applyFilter()" value="">Waiting approval
      </mat-option>
      <mat-option (click)="filterStatus = 'Accepted'" (click)="applyFilter()" value="">Accepted</mat-option>
      <mat-option (click)="filterStatus = 'Rejected'" (click)="applyFilter()" value="">Rejected</mat-option>
      <mat-option (click)="filterStatus = ''" (click)="applyFilter()" value="">None</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Filter by Date</mat-label>
    <input matInput [(ngModel)]="filterDate" (keyup)="applyFilter($event)" placeholder="Ex 2021-05-04" #input>
  </mat-form-field>

  <div *ngFor="let req of rentRequests; let i = index;">
    <div *ngIf="req.status !== 'Discarded'">
      <div class="request">
        <h2><u>Request no. {{this.rentRequests.length - i}}</u></h2>
        <h2>Status: <b
            [ngStyle]="(req.status === 'Waiting approval') && {'color':'blue'} || (req.status === 'Accepted') && {'color':'green'} || (req.status === 'Rejected') && {'color':'red'}">{{req.status}}</b>
        </h2>
        <h2>Date: {{req.timestamp.slice(0, 10)}}, {{req.timestamp.slice(11, 19)}}</h2>
        <h2>Days requested:</h2>
        <div *ngFor="let chReq of req.requests; let i = index;">
          <div *ngIf="cr(chReq) && desks[cr(chReq).desk_id]">
            <ngb-accordion>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div style="color:black;"> Desk {{desks[cr(chReq).desk_id].name}}, Chair no. {{cr(chReq).chair_id +
                    1}}:</div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <mat-chip-list>
                    <mat-chip *ngFor="let day of cr(chReq).days">
                      {{ reverseDate(day) }}
                    </mat-chip>
                  </mat-chip-list>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;" *ngIf="rentRequests.length == 0">
  <h2>Couldn't find any request</h2>
</div>